body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.collection-item {
    margin-top: 50px;
    margin-left: 38px;
    border-radius: 20px;
    background-color: rgb(142, 142, 142);
    border-radius: 25px;
    width: 100%;
}

.collection-left,
.collection-right {
    padding: 10px;
}

.collection-right img {
    float: right;
    width: 100px;
    height: 100px;
}

.collection-box {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 14px;
    margin: 20px;
    width: 90%;
    border-radius: 20px;
}
