body {
  font-family: Arial, sans-serif;
}

.slideshow-container {
  max-width: 60%;
  width: 40%;
  position: relative;
  left: 20px;
  top: 50px;
  height: 80vh;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slide {
  display: none;
}

.slide-content {
  text-align: center;
  padding: 20px;
}

.pictures {
  width: 90%;
  max-height: 60vh;
  border-radius: 15px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-size: 20px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.fade {
  animation: fade 3s ease-out infinite;
}

@keyframes fade {
  0%, 100% {
      opacity: 0;
  }
  20%, 80% {
      opacity: 1;
  }
  
}

@media only screen and (max-width: 768px) {
  .slideshow-container {
    max-width: 93%;
    height: 73vh;
    margin-top: 100px;
  }

  .pictures {
    width: 100%;
    height: 55vh;
    border-radius: 15px;
  }

  .prev, .next {
    font-size: 16px;
  }
  
}