body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #000000bc, #000000bc),url(../Images/background.png);
}


.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Style the logo */
.logo {
    font-size: 24px;
}

/* Style the menu items */
.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #66ccff; /* Change color on hover */
}

/* Style the hamburger menu icon */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: background-color 0.3s ease;
}

/* Make the navbar responsive */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .menu.active {
        display: flex;
    }

    .menu a {
        padding: 15px 0;
    }

    .bar.active {
        background-color: #66ccff; /* Change color on hover */
    }
}
