body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #000000bc, #000000bc),url(../Images/background.png);
}

#dumbell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    
}

#dumbell img{
    animation: movement 3s forwards;
    opacity: 0;
    transform-origin: center;
    max-height: 80%;
    max-width: 100%;
}

@keyframes movement{
    0%{
        
        opacity: 0;
        transform: rotate(350deg);
    }
    100%{
        opacity: 0.3;
        transform: rotate(360deg);
        }
    }

    .navbar{
        width: 90%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 1;
    }
    
    .navbar ul li{
        list-style:none;
        align-items: center;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    
    .navbar ul li a{
        text-decoration: none;
        align-items: center;
        font-family: 'Belanosima', sans-serif;
        color: #fff;
        font-size: 25px;
        position: relative;
    }
    
    .navbar ul li ::after{
        content: '';
        width: 0;
        height: 3px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: -7px;
        transition: 0.75s;
    }
    
    .navbar ul li:hover ::after{
        width:100%;
    }
    
    .logo {
        width: 100px;
        position: absolute;
        top: 4%;
        left: 5%;
    }

/* Make the navbar responsive */
@media (max-width: 768px) {
    .navbar{
        width: 90%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 1;
    }
    
    .navbar ul li{
        list-style:none;
        align-items: center;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    
    .navbar ul li a{
        text-decoration: none;
        align-items: center;
        font-family: 'Belanosima', sans-serif;
        color: #fff;
        font-size: 25px;
        position: relative;
    }
    
    .navbar ul li ::after{
        content: '';
        width: 0;
        height: 3px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: -7px;
        transition: 0.75s;
    }
    
    .navbar ul li:hover ::after{
        width:100%;
    }
    
    .logo {
        width: 100px;
        position: absolute;
        top: 4%;
        left: 5%;
    }
}